.App-header .cart{
    color: #909497;
}
.App-header .login{
    color: #DC143C;
}
.App-header .cart:hover, .App-header .cart:focus{
    color: #DC143C;
}

.App-header .BSicon{
    font-size: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.App-header .icon{
    font-size: 20px;
    margin-right: 5px;
}
.App-header .login:hover, .App-header .login:focus{
    color: #DC143C;
}
.App-header{
    color: #282c34;
    /* font-size: 50px; */
    border-bottom: 1px solid #282c34;
    font-family: 'Roboto', sans-serif;
    /* border-bottom: 2px solid #e5e7e9;*/
    border-bottom: none;
}
.App-header img{
    padding-top: 0;
    height: 60px;
    width: auto;
    display: inline;
}

.App-grid img{
    width: 100%;
    display: block;
}

.slider{
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
}
img{
    border-radius: 10px;
    height: 190px;
    width: auto;
}
.headtopic{
    color: #DC143C;
    float: left;
}

.searchbar{
    border: 1px solid #cacfd2;
    background-color: #cacfd2 ;
    width: 90%;
    border-right: none;
    padding: 25px;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color:  #424949;
}
.searchbar:focus {
    color: #DC143C;
}
.searchButton{
    background-color: #cacfd2;
    border:1px solid #cacfd2;
    border-radius: 3px;
    padding-bottom: 10px;
    padding-top: 3px;
    padding-right: 15px;
    font-size: 25px;
    color: white;
}
.side .plat, .plat-3ds{
    border: 0.3px solid Gainsboro;
    border-radius: 5px;
    padding-left: 30px;
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 10px;
}
.side .plat img{
    width: auto;
    height: 25px;
}
.side .Nav{
    color: #909497;
    padding-left: 30px;
}
.side .Nav:hover, .side .Nav:focus{
    color:  #e74c3c ;
}
.sales h5, .item h5, .most h5, .coming h5{
    font-size: 16px;
    margin-top: 10px;
    margin-left: 15px;
    font-weight: 600;
}

.sales h6, .item h6, .most h6, .coming h6{
    color: #909497;
    float: right;
    margin-right: 30px;
}
.sales .firststar, .item .firststar, .most .firststar,.coming .firststar{
    margin-left: 15px;
}
.sales span, .item span, .most span, .coming span{
    color:  #ffa000 ;
}
.side .morebutton button{
    margin-left: 370px;
    margin-top: 50px;
    background-color: #DC143C;
    color: white;
    border-radius: 10px;
    padding: 20px 100px;
    font-size: 35px;
    border: #DC143C;
}
.foot .lastfoot{
    margin-bottom: 20px;
    font-size: 13px;
    color: #909497;
    text-align: center;
}
.foot img{
    width: 100px;
    height: auto;
}
.foot #nin{
    margin-top: 50px;
}
.foot .foot-menu{
    margin-top: 30px;
}